
     {% extends 'base.html' %}
     {% load staticfiles %}
     {% block content %}
     <div class="card">
                    <div class="card-body">
                           <table width="100%">     
                                       <tr><td align="center" valign="center">  
                                           
                                         </td></tr>
                              </table>
              
             <br>
             <br>
            
       
            <!--新增留言區-->
             <script type="text/javascript" src="tools.js"></script>
             <style>
             #box {
             width: 800px;
             margin: 0 auto;
             }
             textarea {
             width: 800px;
             }
             /*
             #li {
             display: block;
             border-bottom: 1px dashed #ebebeb;
             margin: 10px 0;
             padding: 8px 0;
             }
             */
             </style>
             </head>
             <body>
            

             <div id="box">
             <h3>發表留言 </h3>
             <br>
          
             <p class="card-text">內容：</p>
             <textarea name="" id="text" rows="10"></textarea>
             <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             <input type="submit"  value="&emsp;送出&emsp;">   
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
              </main>
              {% endblock %}
  