{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<br>
<div class="card">
  <div class="card-body">
    <table width="100%">
      <tr>
        <td align="center" valign="center">
          <h3>討論區 </h3>
          <br><a href="http://127.0.0.1:8000/Addacomment">新增留言 </a>
          <br>
          <br>
          <div class="card" style="width: 70rem;height:  18rem;">
            <div class="card-body">
              <p class="card-text">留言資訊這邊顯示.........</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <input type="submit" value="&emsp;修改&emsp;">
              <input type="submit" value="&emsp;刪除&emsp;">
            </div>
          </div>

          <br>
          <div class="card" style="width: 70rem;height:  18rem;">
            <div class="card-body">
              <p class="card-text">留言資訊這邊顯示.........</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <input type="submit" value="&emsp;修改&emsp;">
              <input type="submit" value="&emsp;刪除&emsp;">
            </div>
          </div>
          <br>
          <div class="card" style="width: 70rem;height:  18rem;">
            <div class="card-body">
              <p class="card-text">留言資訊這邊顯示.........</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <input type="submit" value="&emsp;修改&emsp;">
              <input type="submit" value="&emsp;刪除&emsp;">
            </div>
          </div>
          <br>
          <div class="card" style="width: 70rem;height:  18rem;">
            <div class="card-body">
              <p class="card-text">留言資訊這邊顯示.........</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <input type="submit" value="&emsp;修改&emsp;">
              <input type="submit" value="&emsp;刪除&emsp;">
            </div>
          </div>
        </td>
      </tr>
    </table>

    <br>
    <br>
    {% endblock %}