{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card-body">

        <table border="0" cellpadding="5" width="100%">
            <br>
            <br>
            <br>
            <br>

            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card " style="width: 15rem;height: 15rem">
                        <a href="http://www.okmart.com.tw/okGo_ticketSystemList?ID=3&up_idnum=3#"><img
                                style="width: 15rem;height: 15rem" src="{% static 'OK.png' %}"></a>
                    </div>
                </div>
                &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card " style="width: 15rem;height: 15rem">
                            <a href="http://www.ibon.com.tw/#gsc.tab=0"><img style="width: 15rem;height: 15rem"
                                    src="{% static '711.png' %}"></a>

                        </div>
                    </div>
                    &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                    &emsp;&emsp;

                    <div class="row text-center">
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card " style="width: 15rem;height: 15rem">
                                <a href="https://www.famiport.com.tw/Web_Famiport/Page/index.aspx"><img
                                        style="width: 15rem;height: 15rem" src="{% static 'familymart.png' %}"></a>

                            </div>
                        </div>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       

        </table>

    </div>
    {% endblock %}